ul.breedElements{
  text-align: left;
  margin-left: 7%;
}
.result{
  width: 90%;
  border: 1px solid black;
  margin: 0 auto;
  text-align: center;
  clear: both;
}
li{
  border: none;
  list-style: disc;
  text-align: left;
}
.resultsMenu{
  list-style: none;
  border: none;
}
li.resultsMenu{
  width: 33%;
  float: left;
}
h2{
  font-size: 2em;
}
img{
  width: 90%;
  height: auto;
  /*margin: 0 auto;*/
}
.criteria{
  width: 50%;
  float:left;
  list-style: disc;
}